*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: white;
    font-family:'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

h3, span{
    font-size: 3rem;
}

.main-container{
    width: 400px;
    background-color: darkgray;
    height: 10px;
    margin-top: 30px;
    position: relative;
    border-radius: 20px;
}

.first-container{
    position: absolute;
    background-color: orangered;
    height: 10px;
    border-radius: 20px;
}
